</br>
<div style="text-align:right;padding: 6px 44px 6px 6px;">
  <%= button_to "New Sentence", new_sentence_path, :method => :get %>
</div>

<ul>
  <% @sentences.each do |sentence| %>
    <li><%= sentence.formatted_view.html_safe %></li></br>
  <% end %>
</ul>
